.body {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.9);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.itemContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item {
  color: white;
  margin-right: 15px;
  cursor: pointer;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
}
.item:hover {
  color: orange;
}

.initials {
  margin-left: 15px;
  margin-right: 30px;
  font-weight: bolder;
  font-size: 3em;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: orange;
}

.icons {
  position: absolute;
  left: 1900px;
  top: 15px;
  display: flex;
  width: 80px;
  justify-content: space-evenly;

  align-items: center;
}
.icon {
  color: orange;
  text-decoration: none;
}
.icon:hover {
  color: white;
  cursor: pointer;
}
