.body {
  background-color: rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.descContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
}
.textContainer {
  width: 30%;
  text-align: left;
  padding: 50px;
}

.name {
  font-family: "Titillium Web", sans-serif;
  font-size: 2.5em;
  color: whitesmoke;
}

.heading {
  font-family: "Times New Roman", Times, serif;
  color: orange;
  font-size: 1.5em;
}

.text {
  font-family: "Titillium Web", sans-serif;
  color: white;
  font-size: 1.2em;
}
.img {
  border-radius: 5%;
  width: 350px;
}

.tecnologies {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 800px) {
  .descContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img {
    width: 50%;
  }
  .textContainer {
    width: 100%;
  }
  .name {
    font-size: 2em;
  }
  .heading {
    font-size: 1.8em;
  }
  .text {
    font-size: 1em;
  }
  .tecnologies {
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
  }
  .tech {
    width: 20px;
    height: 20px;
  }
}
