.body {
  background-color: rgb(50, 50, 50);
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1300px;
}
.title {
  font-size: 4em;
  color: orange;
  font-family: "Titillium Web", sans-serif;
  margin-bottom: 50px;
}

.projectsContainer {
  display: grid;
  justify-content: center;
  grid-gap: 10em;
  grid-template-columns: repeat(3, 1fr);
}

.timeline {
  content: "";
  position: absolute;
  background: orange;
  width: 1px;
  left: 50%;
  top: 235%;
}
.link {
  text-decoration: none;
  color: orange;
}
.childImpar {
  position: relative;
  width: 300px;
  padding: 15px;
  color: white;
  background: rgb(255, 255, 255, 0.2);
  font-family: "Titillium Web", sans-serif;
  margin: 20px;
  font-size: larger;
  text-align: left;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgb(255, 255, 255, 0.2);
}
.childPar {
  position: relative;
  width: 300px;
  padding: 15px;
  color: white;
  font-family: "Titillium Web", sans-serif;
  margin: 20px;
  font-size: larger;
  text-align: right;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgb(255, 255, 255, 0.2);
}

.childImpar:nth-child(odd) {
  float: left;
  border-radius: 0px 20px 20px 20px;
}
.childImpar:nth-child(odd)::before {
  content: "";
  position: absolute;
  background: orange;
  height: 20px;
  width: 20px;
  left: -30px;
  border-radius: 50%;
}
.childImpar:nth-child(odd)::after {
  content: "";
  position: absolute;
  background: orange;
  height: 2px;
  width: 10px;
  left: -10px;
  top: 25px;
}
.childPar:nth-child(even) {
  float: right;
  border-radius: 20px 0px 20px 20px;
}
.childPar:nth-child(even)::before {
  content: "";
  position: absolute;
  background: orange;
  height: 20px;
  width: 20px;
  right: -30px;
  border-radius: 50%;
}
.childPar:nth-child(even)::after {
  content: "";
  position: absolute;
  background: orange;
  height: 2px;
  width: 10px;
  right: -10px;
  top: 25px;
}

/* ANIMACION DE TIMELINE */
